/*  */

/* styles.css */
.navbar-custom .nav-link,
.navbar-custom .dropdown-toggle {
  color: white !important;
}

.container-header {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Sofia Sans Bold", sans-serif;
  -webkit-text-stroke: 1px #be2a83;
  color: #be2a83;
  margin: 0 auto;
  padding: 20px;
}
.container-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #3a3a3a;
}
